.example-formats {
	margin-top: 10px;

	a {
		margin-right: 15px;
	}

	.title {
		display: inline-block;
		margin-right: 5px;
	}
}

.format-reference {
	margin-top: 10px;

	table {
		border-collapse: collapse;
		margin-top: 10px;

		tr.heading {
			font-weight: 700;
		}

		td {
			padding: 5px !important;
			border: 1px #ddd solid;
		}
	}

	.format-reference-content {
		display: none;
	}
}
